@font-face {
  font-family: 'Slabo';
  font-style: normal;
  font-weight: 400;
  src:
          url('../fonts/Slabo27px-Regular.woff2') format('woff2'),
          url('../fonts/Slabo27px-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Gotu';
  font-style: normal;
  font-weight: 400;
  src:
          url('../fonts/Gotu.woff2') format('woff2'),
          url('../fonts/Gotu.woff') format('woff')
}

@font-face {
  font-family: 'Oswald - Extra Light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Oswald - Extra Light.woff2') format('woff2'),
  url('../fonts/Oswald - Extra Light.woff') format('woff');
}

@font-face {
  font-family: 'Oswald - Light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Oswald-Light.woff2') format('woff2'),
  url('../fonts/Oswald-Light.woff') format('woff');
}

@font-face {
  font-family: 'Oswald-Medium';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
  url('../fonts/Oswald-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Oswald-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
  url('../fonts/Oswald-Regular.woff') format('woff');
}