/*-------color-------*/

$header-color: (#fffafa);

$link-color: (#00fa9a);

$white: (#ffffff);

$black: (#000);

$green-salad: (#00d15d);

$orange: (#ffc539);

$green: (#0a8b05);

$gray: (#444444);

$sea: (#00aaff);

$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;


/*-------fonts-------*/

$OSL: "Oswald - Light";
$OSR: "Oswald-Regular";
$OSM: "Oswald-Medium";