header.header
    .container
          .header__wrap
              .wow.fadeInLeft.header__left
                  .logo
                      a.logo-link(href="/") Andy Koshman
              .header__right
                  button(type="button").hamburger.hamburger--spring-r.is-active
                      span.hamburger-box
                          span.hamburger-inner
                  .menu
                      .wow.fadeInDown.header__right-list
                          nav(id="nav").header__nav
                              ul.header__nav-wrap
                                  li
                                      a.header__nav-link(href="#info") о себе
                                  li
                                      a.header__nav-link(href="#education") образование
                                  li
                                      a.header__nav-link(href="#experience") опыт работы
                                  li
                                      a.header__nav-link(href="#skills-id") навыки
                                  li
                                      a.header__nav-link(href="#portfolio") мои работы
                                  li
                                      a.header__nav-link(href="#social") контакты


