@font-face {
  font-family: 'Parimatch-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Parimatch-Bold.woff2') format('woff2'),
  url('../fonts/Parimatch-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Parimatch-Light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Parimatch-Light.woff2') format('woff2'),
  url('../fonts/Parimatch-Light.woff') format('woff');
}

@font-face {
  font-family: 'ParimatchMedium';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ParimatchMedium.woff2') format('woff2'),
  url('../fonts/ParimatchMedium.woff') format('woff');
}