$black: (#000000);
$white: (#ffffff);
$black-opacity: (#7f8300);
$yellow: (#f8ff13);
$brown: (#7f8300);
$sea: (#00aaff);
$pink: (#f16f6f);

$PB: "Parimatch-Bold";
$PL: "Parimatch-Light";
$PM: "ParimatchMedium";
$sserif: Arial, Tahoma, sans-serif;
