doctype html
html(lang="ru-RU")
    link(rel="stylesheet" type='text/css' href="static/css/main.css")
    link(rel="stylesheet" href="static/css/animate.css")
    link(rel="stylesheet" href="static/css/sweetalert2.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    head
        link(rel="shortcut icon" href="./static/img/icon.png" type="image/x-icon")
        title Andy Koshman
    body
        block content


